<h1>Your Private Repos</h1>

<div class="wrapper">
  <p><%= button_to "Back to Dashboard", '/dashboard', method: :get, class: "button" %></p>

  <p><%= button_to "View Public Repos", "/users/#{current_user.username}/repos", method: :get, class: "button" %></p>
</div>

<ul>
  <% @repos.each do |repo| %>
  <li><h3><%= link_to repo.name, repo.url  %></li>
  <% end %>
</ul>
